* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    border: 20px black;
    background-color:aqua;
    color:black;
}

.banner {
    text-align: center;
    background-color: red;
    color: white;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
}